body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.RepoItem {
  background-color: gray;
  margin: 2%;
  padding: 0.5%;
  color: white;
  width: fit-content;
}

.RepoItem:hover {
  background-color: lightblue;
}

.RepoItem:active {
  border: 1px;
  border-color: pink;
}

a {
  color: orange;
}

h1 {
  margin: 2%;
}


